<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<title>程剑锋的个人简历</title>
<style type="text/css">
code {
	border: 0;
	background-color: #D6DBDF;
	border-radius: 4px;
	color: #2C3E50;
	font-size: 100%;
	padding: 2px 4px;
	white-space: nowrap;
}
</style>
</head>

<body>
	<div id="wmd-preview" class="wmd-preview">
		<div class="md-section-divider"></div>
		<div class="md-section-divider"></div>
		<h2 id="程剑锋">程剑锋</h2>
		
		<div class="md-section-divider"></div>
		<h3 id="个人信息">个人信息</h3>
		<p>男  28岁 本科 5年工作经验</p> 
		<hr></hr>
		
		<div class="md-section-divider"></div>
		<h3 id="期望工作">期望工作</h3>
		<p>Java开发工程师 全职 杭州</p>
		<hr></hr>
		
		<div class="md-section-divider"></div>
        <h3  id="教育经历">教育经历</h3>
        <p>本科，计算机科学与技术，武汉理工大学，2009-2013</p>
        <hr></hr>
		
		<div class="md-section-divider"></div>
		<h3 id="工作经历">工作经历</h3>
		<p>财人汇网络股份有限公司  互联网产品运营部 高级软件工程师 2017.09-2018.07</p>
		<p>恒生电子股份有限公司  海外发展部 高级软件工程师 2013.03-2017.08</p>
		<ol>
			<li>
				工作职责：本人先后从事的两家公司性质相似，都是以金融业务为主，前者工作职责更偏向于互联网金融，后者偏向于传统金融，面向的客户属于国内券商和香港期货公司。工作内容包括参与新需求评审，根据产品业务需求编写业务方案，实现产品业务功能，处理日常Bug和生产紧急问题，以及出差客户现场培训等工作。</li>
		</ol>
		<hr></hr>
		
		<div class="md-section-divider"></div>
		<h3 id="项目经验">项目经验</h3>
		<p>积分商城		2017.09-2018.02</p> 
		<ol>
			<li>积分商城是一款基于证券投资者APP的分布式系统，该系统分为互联网账户中心UC、积分BP、商城SHOP、支付PAY等几个子系统，各子系统之间通过Dubbo分布式框架进行相互调用，每个子系统前后端分离，分别采用Git进行项目管理，Maven进行项目构建，服务器端采用SpringMVC、Spring、MyBatis三大主流框架进行项目搭建，运用了分布式缓存Redis，消息队列RabbitMQ等技术，后端管理页面运用了FreeMarker、JS/JQuery/Ajax等技术，数据库为Oracle，Web服务器为Nginx和Tomcat，整个系统采用高可用架构部署在客户机房Linux环境。</li>
			<li>入职后中途加入项目组，参与了中后台业务功能的开发，包括积分兑换，积分商品秒杀、优惠券领取发放等业务需求。其中积分商品秒杀功能，采用了接口地址隐藏，防刷限流，多级缓存，消息队列异步下单等解决方案。</li>
		</ol>
		<p>海通社区		2018.02-2018.07</p> 
		<ol>
			<li>海通社区是一款为海通证券投资者APP开发的系统，主要包括个股评论、K线训练营、大转盘积分抽奖、积分商城等功能模块。该系统前后端分离，但架构偏传统，各模块之间没有进行拆分，属于集中式开发，服务器端采用了Struts2，Spring，iBatis三大框架，运用了Redis，ActiveMQ等技术，后端管理页面运用JSP/JQuery/Ajax等技术，数据库为Oracle和MongoDB，Web服务器为Nginx和Tomcat，整个系统部署采用高可用架构部署在客户机房Linux环境上。</li>
			<li>由于18年初人员变动，后期加入项目组，主要负责前期系统已有功能的维护和Bug的修改，以及新功能评论加精送积分，个股热门评论，近期世界杯签到领礼品活动等业务需求的开发。</li>
		</ol>
		<p>外盘期货经纪运营平台		2013.07-2017.09</p> 
		<ol>
			<li>外盘期货经纪运营平台是一款为境外期货公司（香港）提供账户、资金、交易、风控、结算等一整套全业务解决方案的系统。该平台采用恒生JRES技术框架搭建，基于恒生中间件2.0架构可将平台各个模块拆分成不同的分布式子系统，并提供了Web版后台管理系统和PC版投资者客户端两个产品，前者属于BS架构，面向的是期货公司操作员，使用Java语言，采用SSM框架，运用了恒生消息中间件2.0、Redis缓存等技术进行开发；后者属于CS架构，面向的是广大投资者用户，使用C#语言，采用恒生UCF框架进行开发。投资者客户端可通过恒生T2协议与平台系统进行通信，数据库统一为Oracle，线上部署采用读写分离的方式，可根据客户需求个性化部署到客户机房或者云服务上。</li>
			<li>自毕业以来，主要参与了运营平台的期货交易系统的开发，主要包括期货交易委托和成交回报业务流程处理，交易报盘与交易所的对接，以及交易系统第三方接口开发等功能。由于对系统熟悉，后期成功胜任交易系统开发负责人一职，并在2014年获得恒生海外部门级优秀员工奖。</li>
		</ol>
		<hr></hr>
		

		<div class="md-section-divider"></div>
		<h3 id="联系方式">联系方式</h3>
		<ul>
			<li>手机号码：13067828581</li>
			<li>电子邮件：swidy360@qq.com</li>
		</ul>
		<hr></hr>
		<div class="md-section-divider"></div>
		<h3 id="技能评价">技能评价</h3>
		<p>
			<strong>编程语言</strong>：工作主力语言为
			<code>Java、JavaScript/Jquery</code>，前期还是用过<code>C#</code>。
		</p>
		<p>
			<strong>专业基础</strong>：了解<code>Java</code>常用的设计模式、数据结构以及多线程等相关知识。
		</p>
		<p>
			<strong>开源框架</strong>：熟练使用
			<code>SSM</code>技术框架进行项目开发，了解分布式缓存
			<code>Redis</code>、消息中间件
			<code>MQ</code>、分布式框架
			<code>Dubbo</code>有实际开发经验。
		</p>
		<p>
			<strong>数据库</strong>：工作使用<code>Oracle</code>数据库，自学使用
			<code>Mysql</code>数据库，恒生工作期间曾编写过大量的<code>Procedure</code>。
		</p>
		<p>
			<strong>操作系统</strong>：熟悉<code>Linux</code>常用命令及常用开源软件的安装部署，了解
			<code>Shell</code>脚本编写，有个人阿里云服务器。
		</p>
		<p>
			<strong>开发工具</strong>：<code>Eclipse/Idea</code>进行项目开发，
			<code>Svn/Git</code>进行源代码管理，
			<code>Maven</code>进行项目构建，
			<code>Plsql/Navicate</code>进行数据库管理，
			<code>Jira</code>进行需求和缺陷管理。
		</p>
		<p>
			<strong>金融证书</strong>：2016年一次性先后获得期货从业资格证、证券从业资格证、基金从业资格证。
		</p>
		<hr></hr>
		
		<div class="md-section-divider"></div>
		<h3 id="生活">生活</h3>
		<p>爱好：NBA、电影、音乐、旅游</p>
		<hr></hr>
		
		<div class="md-section-divider"></div>
		<h3 id="自我评价">自我评价</h3>
		<p>211大学，计算机专业出身，自我感觉踏实靠谱，有5年的软件开发经验和良好的金融行业知识背景，期望找一份互联网或金融IT领域相关的工作。</p>
		<hr></hr>
		
		<div class="md-section-divider"></div>
		<h3 id="更多">更多</h3>
		<ul>
			<li>微博: <a href="http://weibo.com/swidy360" target="_blank">http://weibo.com/swidy360</a></li>
			<li>GitHub: <a href="https://github.com/swidy360" target="_blank">https://github.com/swidy360</a></li>
			<li>商品秒杀demo: <a href="/login/to_login" target="_blank">商品秒杀项目</a></li>
		</ul> 
		<hr></hr>
		<p>
			<strong><em>最后更新于2018年7月18日，未完待续...</em></strong>
		</p>
	</div>
</body>

</html>